<footer id="site-footer">
    <div class="footer layout1">
        <div class="footer-top">
            <div class="container">
                <div class="container-inner">
                    <div class="row">
                        <div
                            class="col-sm-4 col-xs-12 widget-footer widget-footer-1"
                        >
                            <aside id="text-10" class="widget widget_text">
                                <h3 class="widget-title">
                                    <span>Thông Tin Công Ty</span>
                                </h3>
                                <div class="textwidget">
                                    <p>
                                        Công ty cổ phần sản xuất và thương mại
                                        Đại Long
                                    </p>
                                    <p>
                                        Địa chỉ: Minh Long &#8211; Xích Thổ
                                        &#8211; Nho Quan &#8211; Ninh Bình
                                    </p>
                                    <p>
                                        GPDKKD: 2700588366 do Cục cảnh sát quản
                                        lý hành chính về trật tự xã hội cấp ngày
                                        13/04/2021
                                    </p>
                                    <p>
                                        Điện thoại: 02293673999 &#8211; Di động
                                        : 0972086234
                                    </p>
                                    <p>Email : dailongjsc.vn@gmail.com</p>
                                </div>
                            </aside>
                        </div>

                        <div
                            class="col-sm-3 col-xs-12 widget-footer widget-footer-3"
                        >
                            <aside
                                id="nav_menu-4"
                                class="widget widget_nav_menu"
                            >
                                <h3 class="widget-title">
                                    <span>Danh Mục</span>
                                </h3>
                                <div class="menu-hot-categories-container">
                                    <ul id="menu-hot-categories" class="menu">
                                        <li
                                            id="menu-item-5051"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5051"
                                        >
                                            <a
                                                href="https://dailongjsc.com.vn/product-category/san-pham/com-chay-cha-bong/"
                                                >Cơm cháy chà bông</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-5052"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5052"
                                        >
                                            <a
                                                href="https://dailongjsc.com.vn/product-category/san-pham/com-chay-cha-bong-vung-xjck-tho/"
                                                >Cơm cháy chà bông &#8211; vừng
                                                XJCKTHO</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-5053"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5053"
                                        >
                                            <a
                                                href="https://dailongjsc.com.vn/product-category/san-pham/com-chay-cochi/"
                                                >Cơm cháy COCHI</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-5054"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5054"
                                        >
                                            <a
                                                href="https://dailongjsc.com.vn/product-category/san-pham/com-chay-kho-xjck-tho/"
                                                >Cơm cháy Khô XJCKTHO</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-5055"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5055"
                                        >
                                            <a
                                                href="https://dailongjsc.com.vn/product-category/san-pham/com-chay-ninh-binh-vang/"
                                                >Cơm cháy Ninh Bình Vàng</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-5056"
                                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5056"
                                        >
                                            <a
                                                href="https://dailongjsc.com.vn/product-category/san-pham/xach-qua-com-chay/"
                                                >Xách quà cơm cháy</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>

                        <div
                            class="col-sm-5 col-xs-12 widget-footer widget-footer-4"
                        >
                            <aside id="text-9" class="widget widget_text">
                                <h3 class="widget-title">
                                    <span>@Facebook</span>
                                </h3>
                                <div class="textwidget">
                                    <div
                                        class="fb-page"
                                        data-href="https://www.facebook.com/C%C6%A1m-Ch%C3%A1y-Ch%C3%A0-B%C3%B4ng-%C4%90%E1%BA%B7c-S%E1%BA%A3n-Ninh-B%C3%ACnh-1524272814561796/"
                                        data-tabs=""
                                        data-width="500"
                                        data-height=""
                                        data-small-header="false"
                                        data-adapt-container-width="true"
                                        data-hide-cover="false"
                                        data-show-facepile="false"
                                    >
                                        <blockquote
                                            cite="https://www.facebook.com/C%C6%A1m-Ch%C3%A1y-Ch%C3%A0-B%C3%B4ng-%C4%90%E1%BA%B7c-S%E1%BA%A3n-Ninh-B%C3%ACnh-1524272814561796/"
                                            class="fb-xfbml-parse-ignore"
                                        >
                                            <p>
                                                <a
                                                    href="https://www.facebook.com/C%C6%A1m-Ch%C3%A1y-Ch%C3%A0-B%C3%B4ng-%C4%90%E1%BA%B7c-S%E1%BA%A3n-Ninh-B%C3%ACnh-1524272814561796/"
                                                    >Cơm Cháy Chà Bông &#8211;
                                                    Đặc Sản Ninh Bình</a
                                                >
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="container-inner">
                    <div class="row">
                        <div class="col-xs-12">
                            <div
                                class="widget-footer-bottom widget-footer-bottom-1"
                            >
                                <div class="icon-w-f">
                                    <span class="lnr-circles"
                                        ><span class="lnr lnr-envelope"></span
                                    ></span>
                                </div>
                                <div class="text-w-f">
                                    <span class="w-f-dl-heading-text"
                                        ><a
                                            href="mailto:dailongjsc.vn@gmail.com"
                                            >dailongjsc.vn@gmail.com</a
                                        ></span
                                    >
                                    <span class="w-f-dl-heading-subtitle"
                                        >Gửi tin nhắn cho chúng tôi</span
                                    >
                                </div>
                            </div>
                            <div
                                class="widget-footer-bottom widget-footer-bottom-2"
                            >
                                <div class="icon-w-f">
                                    <span class="lnr-circles"
                                        ><span
                                            class="lnr lnr-phone-handset"
                                        ></span
                                    ></span>
                                </div>
                                <div class="text-w-f">
                                    <span class="w-f-dl-heading-text"
                                        ><a href="tel:0972086234"
                                            >0972086234</a
                                        ></span
                                    >
                                    <span class="w-f-dl-heading-subtitle"
                                        >Gọi cho chúng tôi ngay</span
                                    >
                                </div>
                            </div>
                            <div
                                class="widget-footer-bottom widget-footer-bottom-3"
                            >
                                <div class="icon-w-f">
                                    <span class="lnr-circles"
                                        ><span class="lnr lnr-map-marker"></span
                                    ></span>
                                </div>
                                <div class="text-w-f">
                                    <span class="w-f-dl-heading-text"
                                        ><a
                                            href="https://dailongjsc.com.vn/contact-us/"
                                            >Xích Thổ – Nho Quan – Ninh Bình</a
                                        ></span
                                    >
                                    <span class="w-f-dl-heading-subtitle"
                                        >Nhận chỉ đường</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-copyright">
                        Copyright ©2022 DAILONG JSC. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
</footer>
