<div
    class="section-element vc_row wpb_row vc_row-fluid wapper-san-pham-noi-bat vc_custom_1670776325894 vc_row-has-fill"
>
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <h3>Giấy chứng nhận</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
