<div
    data-vc-full-width="true"
    data-vc-full-width-init="false"
    data-vc-stretch-content="true"
    class="section-element vc_row wpb_row vc_row-fluid testimonials-style vc_custom_1671077730137 vc_row-has-fill vc_row-no-padding"
>
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="testimonials">
                    <div class="tit-container-h">
                        <h3 class="vc_widget_title vc_testimonial_title">
                            <span>Đánh Giá Của Khách Hàng</span>
                        </h3>
                    </div>
                    <div
                        data-owl="slide"
                        data-ow-rtl="false"
                        data-bigdesk="3"
                        data-desksmall="3"
                        data-bigtablet="2"
                        data-tabletsmall="1"
                        data-mobile="1"
                        data-tablet="1"
                        data-margin="0"
                        data-item-slide="3"
                        data-autoplay="false"
                        data-nav="true"
                        data-dots="false"
                        data-playtimeout="5000"
                        data-speed="1000"
                        class="testimonials-list owl-carousel owl-theme"
                    >
                        <div class="item-video-youtube">
                            <iframe
                                loading="lazy"
                                width="560"
                                height="315"
                                src="https://www.youtube.com/embed/oJ3ooGzCUF0?controls=0"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                        <div class="item-video-youtube">
                            <iframe
                                loading="lazy"
                                width="560"
                                height="315"
                                src="https://www.youtube.com/embed/atqAPxF_NvM?controls=0"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                        <div class="item-video-youtube">
                            <iframe
                                loading="lazy"
                                width="560"
                                height="315"
                                src="https://www.youtube.com/embed/I8uI6HCARZU?controls=0"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
