<div
    class="section-element vc_row wpb_row vc_row-fluid about-us-home-page-short"
>
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <div class="tit-container-h">
                            <h3 class="vc_widget_title vc_testimonial_title">
                                Giới thiệu chung
                            </h3>
                        </div>
                        <div class="content-gioi-thieu-chung">
                            Đại Long là đơn vị sản xuất Cơm cháy đầu tiên và lớn
                            nhất tại Ninh Bình. Với tâm huyết của những con
                            người Đại Long, một tập thể đoàn kết, trách nhiệm,
                            sáng tạo, cùng sự khéo léo chỉn chu trong mỗi công
                            đoạn, khắt khe trong quá trình chọn lọc các nguyên
                            vật liệu đầu vào. Trải qua hơn Mười năm xây dựng và
                            phát triển đã được khách hàng tin tưởng, lựa chọn và
                            mệnh danh là “Vua cơm cháy” như ngày hôm nay.
                        </div>
                    </div>
                </div>
                <div class="vc_btn3-container vc_btn3-inline">
                    <a
                        class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-classic vc_btn3-color-green"
                        href="https://dailongjsc.com.vn/about-us/"
                        title="Giới Thiệu"
                        >Xem Thêm</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
