* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding: 0px;
    margin: 0px;    

    font-family: Roboto, sans-serif;
    background-color: transparent;
}

:root {
    --announcement-bar-height: 56px;
    --container-max-width: 1200px;
    --header-height: 120px;
    --fixed-header-height: 60px;
    --product-image-height: 370px;
    --gap-30: 30px;
    --gap-20: 20px;
    --gap-15: 15px;
    --main-blue: #176394;
    --main-blue-opacity: #176394d9;
    --main-dark: #252628;
    --about-section-blue: #0693e3;
    --main-grey: #bbb;
    --second-blue: #447eaf;
    --main-red: #ed1c24;
    --border-color: #e1e1e1;
    --third-blue: #31618a;
    --second-grey: #eee;
    --fourth-blue: #5d89ab;
    --fifth-blue: #597693;
    --background-light-blue: #e0f1fa;
    --main-white: #f7f7f7;
    --third-grey: #cfc8d8;
}

/* @media only screen and (max-width: 400px) {
    :root {
        --gap-30: 20px;
    }
} */

@media only screen and (max-width: 575px) {
    :root {
        --container-max-width: 90%;
        --product-image-height: 150px;
        --header-height: 150px;
    }
}

@media only screen and (max-width: 450px) {
    :root {
        --container-max-width: 85%;
        --product-image-height: 150px;
        --header-height: 150px;
        --gap-30: 20px;
        --gap-20: 15px;
        --gap-15: 10px;          
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --gap-30: 15px;
        --gap-20: 10px;
        --gap-15: 8px;        
    }
}

@media only screen and (min-width: 576px) {
    :root {
        --container-max-width: 90%;
        --product-image-height: 150px;
    }
}

@media only screen and (min-width: 680px) {
    :root {
        --container-max-width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --container-max-width: 720px;
        --product-image-height: 200px;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --container-max-width: 960px;
        --product-image-height: 270px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --container-max-width: 1140px;
        --product-image-height: 370px;
    }
}

@media only screen and (min-width: 1400px) {
    :root {
        --container-max-width: 1320px;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    background-color: white;
}

#app {
    height: 100%;
    width: 100%;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.2;
}

body h2, body .h2 {
    font-size: 2.14rem;

}

@media only screen and (max-width: 450px) {
    body h2, body .h2 {
        font-size: 1.5rem;
    }
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:visited,
a:active {
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
}